/*Estilos generales*/
html {
    min-height: 100%;
    position: relative;
}
body {
    margin: 0;
}
.bg-principal{
    background: #243f5e;
    color: #fff;
}
.bg-second{
    background: #6c7ae0 !important;
    color: #fff;
}
/*FIN Estilos generales*/


/*=======================================================Estilos para el HOME==========================================================================*/

/*Estilos para el modulo de carrusel en principal*/
#carouselExampleIndicators{
    background-color: #243f5e;
    color: white;
}

.carouselItem a{
    position: fixed;
}


/*Estilos para el carrousel*/
/*Apartado para dispositivos pequeños*/
@media (max-width: 767.98px){
    /*Estilos para los elementos en el carrusel*/
    .carouselItem{
        margin-bottom: 10vw;
    }

    /*Estilos para el texto dentro del boton*/
    .textButtonCarousel{
        font-size: 10px;
    }

    /*Estilos para colocar texto por encima de las tarjetas*/
    .superTextPricipal{
        font-size: 10.5px;
    }
}

/*Apartado para dispositivos mediamos*/
@media (min-width: 768px) and (max-width: 991.98px){
    /*Estilos para los elementos en el carrusel*/
    .carouselItem{
        margin-top: 12px;
        margin-bottom: 5vw;
    }

    /*Estilos para el texto dentro del boton*/
    .textButtonCarousel{
        font-size: 14px;
        margin-left: 6vw;
    }

    /*Estilos para colocar texto por encima de las tarjetas*/
    .superTextPricipal{
        font-size: 12px;
    }
}

/*Apartado para dispositivos grandes*/
@media (min-width: 992px) and (max-width: 1199.98px){
    /*Estilos para los links en el componente de investigacion*/
    .linkTextPrincipal{
        font-size: 17px;
    }

    /*Estilos para los elementos en el carrusel*/
    .carouselItem{
        margin-top: 12px;
        margin-bottom: 5vw;
    }

    /*Estilos para el texto dentro del boton*/
    .textButtonCarousel{
        font-size: 14px;
        margin-left: 7vw;
    }

    /*Estilos para colocar texto por encima de las tarjetas*/
    .superTextPricipal{
        font-size: 12px;
    }
}

/*Apartado para dispositivos xl*/
@media (min-width: 1200px){
    /*Estilos para los links en el componente de investigacion*/
    .linkTextPrincipal{
        font-size: 17px;
    }

    /*Estilos para los elementos en el carrusel*/
    .carouselItem{
        margin-top: 12px;
        margin-bottom: 5vw;
    }

    /*Estilos para el texto dentro del boton*/
    .textButtonCarousel{
        font-size: 14px;
        margin-left: 6.5vw;
    }

    /*Estilos para colocar texto por encima de las tarjetas*/
    .superTextPricipal{
        font-size: 11.5px;
    }
}


/*Estilos para el carrousel*/
/*=======================================================Estilos para el HOME==========================================================================*/

/*=======================================================Estilos para el NAVBAR==========================================================================*/

#nav{
    background-color: #243f5e !important;
    width: 100%;
}

/*Apartado para dispositivos pequeños*/
@media (max-width: 767.98px){
    /*Estilos para el titulo del sitio que pertenece al navbar*/
    #titleNav{
        font-size: 14px;
        color: #1b3a6d;
        text-align: left;
    }

    /*Estilos para la imagen del sitio que pertenece al navbar*/
    #imgLogoNav{
        width: 42px;
        height: 66px;
    }

    /*Estilos para posicionar el boton en el navbar*/
    #toogleBoton{
        margin-top: 15px;
    }
}

/*Apartado para dispositivos mediamos*/
@media (min-width: 768px) and (max-width: 991.98px){
    /*Estilos para el titulo del sitio que pertenece al navbar*/
    #titleNav{
        font-size: 24px;
        text-align: left;
        color: #1b3a6d;
    }

    /*Estilos para la imagen del sitio que pertenece al navbar*/
    #imgLogoNav{
        float: left;
        width: 54px;
        height: 86px;
    }

    /*Estilos para posicionar el boton en el navbar*/
    #toogleBoton{
        margin-top: 15px;
    }
}

/*Apartado para dispositivos grandes*/
@media (min-width: 992px) and (max-width: 1199.98px){
    /*Estilos para el titulo del sitio que pertenece al navbar*/
    #titleNav{
        font-size: 24px;
        text-align: left;
        color: #1b3a6d;
        padding: 7px;
    }
    nav #navbarSupportedContent li {
        margin-top: 5px;
    }

    /*Estilos para la imagen del sitio que pertenece al navbar*/
    #imgLogoNav{
        float: left;
        width: 60px;
        height: 92px;
    }

    /*Estilos para los links principales en el navbar*/
    .linkTextNav{
        color: #1b3a6d !important;
    }

    #nav{
        background-color: #1b3a6d !important;
    }

    /*Estilos para los menus despegables*/
    .listBackNav{
        background-color: #1b3a6d;
    }

    /*Estilos para los links en los menus despegables*/
    .listTextNav{
        color: white;
    }
}

/*Apartado para dispositivos xl*/
@media (min-width: 1200px){
    /*Estilos para el titulo del sitio que pertenece al navbar*/
    #titleNav{
        float: left;
        font-size: 18px;
        text-align: left;
        color: #1b3a6d;
    }

    /*Estilos para la imagen del sitio que pertenece al navbar*/
    #imgLogoNav{
        float: left;
        width: 64px;
        height: 96px;
    }

    #nav{
        background-color: #1b3a6d !important;
    }

    /*Estilos para los links principales en el navbar*/
    .linkTextNav{
        color: #1b3a6d !important;
    }

    /*Estilos para los menus despegables*/
    .listBackNav{
        background-color: #1b3a6d;
    }

    /*Estilos para los links en los menus despegables*/
    .listTextNav{
        color: white;
    }
}

/*=======================================================FIN Estilos para el NAVBAR==========================================================================*/

/*=======================================================Estilos para el FOOTER==========================================================================*/
#footer{
    background-color: #243f5e;
    bottom: 0 !important;
    position: relative;
    width: 100%;
    height: 200px;
    color: white;
}

/*Clase para poner iconos blancos*/
.iconWhite{
    color: white;
}

/*Clae para poner iconos azules*/
.iconBlue{
    color: #1b3a6d;
    margin-bottom: 5px;
}

.phone-i{
    transform: rotate(90deg);
}
/*Estilos para los derechos en el footer*/
#titleCopy{
    color: white;
}

/*Estilo para la dirección en el footer*/
#addressFooter{
    color: white;
}

/*Estilos para los iconos en el footer*/
.iconCopy{
    color: white;
    font-size: 40px;
}

/*Apartado para dispositivos pequeños*/
@media (max-width: 767.98px){
    /*Titulo del footer*/
    #titleFooter{
        font-size: 16px;
        color: white;
    }
    #addressFooter{
        color: black;
    }
}

/*Apartado para dispositivos mediamos*/
@media (min-width: 768px) and (max-width: 991.98px){
    /*Titulo del footer*/
    #titleFooter{
        color: white;
    }
}

/*Apartado para dispositivos grandes*/
@media (min-width: 992px) and (max-width: 1199.98px){
    /*Titulo del footer*/
    #titleFooter{
        color: white;
    }

    #contentFooter{
        width: 80vw;
        margin-left: 10vw;
    }
}

/*Apartado para dispositivos xl*/
@media (min-width: 1200px){
    /*Titulo del footer*/
    #titleFooter{
        color: white;
    }
}

/*=======================================================FIN Estilos para el FOOTER==========================================================================*/
/*======================================================= Estilos para el Login==========================================================================*/

.login-content{
    border: 1px solid #1b3a6d;
    margin-top: 100px;
}
.login-content form{
    margin: 20px;
}
.login-content a{
    margin: 20px;
}
.login-content .text-login {
    background: #1b3a6d;
    color: #fff;
    font-size: 36px;
    font-weight: 200;
}

.login-content form .btn-login{
    border-radius: 16px;
    height: 40px;
    width: 100px;
}
.login-content form .btn-login:hover{
    background: #74afff;
    color: #fff;
    transition: all 0.5s;
}
.login-content .link-ayuda{
    display: inline-block;
}
/*=======================================================FIN Estilos para el Login==========================================================================*/
